[Unit]
Description=The Oxcross leaf agent, which polls origin servers and export HTTP performance in a metrics server
After=syslog.target

[Service]
Type=simple
User=oxcross
Environment="OXCROSS_CONFIG_API_BASE=API_BASE_CHANGE_ME"
Environment="OXCROSS_LEAF_ID=LEAF_ID_CHANGE_ME"
ExecStart=/usr/local/bin/oxcross-leaf
Restart=on-failure

[Install]
WantedBy=multi-user.target